<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:page_title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="page-header">
      <h1><a href="<%= root_path %>">Cypress Lab</a> <small>blog</small></h1>
    </div>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
